<div class="hea">
  <ul>
    <li><a href="#">Welcome</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  	<a class="tb" href="#"> Trần Bình</a>
  </ul>
</div>

    <div class="hinh">
  <div class="banner">  
    <h2>Hello. My name is<span class="hi">Trần Bình</span> and I have creative ideas and build websites</h2>
    </div>
      <div class="btn1">
      <div class="btn">
					<a class="i" href="#">View my Work</a>
      </div>
      </div>
    </div>
    
    
     
    
<div class="footer">
  <div class="container1">
    <ul class="soc">
      <li><a class="g" href="#"></a></li>
      <li><a class="l" href="#"></a></li>
       <li><a class="t" href="#"></a></li>
   <p class="end">© 2015 Trần Bình</p>
    </ul>
  </div>
</div>
