.hea{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
   magin-left: 30px;
    background-color: #fff;
    
}
.hi{
background-color: #eaeff4;
    color: #000;
    padding: 0 10px 0;
}
.hea ul{
margin-top: 33px;
   
       list-style: none;
       padding-left: 100px;
}
.hea ul a{
 color:#000;
 
}
.hea ul li a{	
magin-left: 30px;
    float: left;
    padding-left: 30px;
}
h2{
text-align: center;
color: #fff;
    line-height: 56px;
   
}
.tb{
	padding-left: 435px;
}
.hinh{
    background: url(https://portfolio-rails-2633.herokuapp.com/assets/home-db103bf75e724b89102c607792424914.jpg) center center;
    background-size: cover;
    min-height: 600px;
    width: 100%;
}
.i{
  color: #fff;
  text-decoration:none; 
  
}
.btn{
    background-color: rgba(0,0,0,0.9);
    border-radius: 1px;
     color: #fff;
    font-size: 16px;
    font-weight: 1000;
    height: 60px;
    line-height: 60px;
    margin: 0 0 400px 350px;
    padding: 0;
    transition: background-color .5s;
    width: 200px;
    text-decoration:none; 
}
.btn1{
 padding: 0 0 500px 500px;
  color: #fff;
}
.btn:hover{
    background-color: #cc6cff;
    color: #fff;
    transition: background-color .5s;
    text-decoration:none; 
}
.banner{
margin: 50px 0;
    padding: 300px 200px 0 280px;
    width: 100%;
}
.banner h2{
font-size: 42px;
    line-height: 56px;
    font-family: inherit;
    font-weight: 500;
}
.footer{
background-color: #fff;
    height: 200px;
    text-align: right;
    width: 100%;
}
.container1{
	padding: 0 200px 0 280px;
    width: 100%;
}
.soc li a{
display: block;
    height: 24px;
    width: 24px;
    float:right;
    magin-right:10px;
    
}
.soc li{
display: inline-block;
    height: 24px;
    margin: 0 0 0 10px;
    text-align: left;
    text-indent: -9999px;
    width: 24px;
}
.soc{
margin: 80px 0 100px;
    width: 100%;
     list-style: none;
}
.g{
 background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/github-edc899c60c7b3afd0c458e648197f578.svg);
    background-position: center center;
}
.l{
background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/linkedin-be22eb82414f9f637debbe2d64c301cb.svg);
    background-position: center center;
}
.t{
background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/twitter-8c095eaee58362a46d56e3f07b50b23b.svg);
    background-position: center center;
}
.end{
	padding-top:43px;
}
